---
import pic1 from "/rain.png"
---

<div class="mx-12">
  <h1 class="my-24 text-center text-2xl text-bold">favorites</h1>
  <div class="gird grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
    <div class="relative group">
      <img
        class="relative w-full rounded-lg z-10 transition-all group-hover:translate-x-3"
        src={pic1}
        alt="pictures"
      />
      <div
        class="absoulte left-0 top-0 rounded-lg group-hover:translate-x-4 w-full h-full bg-red-300 mb-4"
      >
      </div>
    </div>
  </div>
</div>
