---
import MainLayout from "../layouts/main-layout.astro"
import "./style.css"
import Intro from "./components/Intro.astro"
---

<MainLayout title="l.etz" class="main">
  <nav></nav>
  <section>
    <Intro />
  </section>
</MainLayout>
