---
import MainLayout from "../layouts/main-layout.astro"
import "./style.css"
---

<MainLayout title="l.etz" class="main">
  <nav></nav>
  <section>
    <h1>l.</h1>
    <a href="/about">about</a>
  </section>
</MainLayout>
