---
import "../pages/style.css"
---

<ul>
  <li>
    <p class="visually-hidden">html</p>
    <img src="/img/html.svg" alt="html" class="index_img pt-2" />
  </li>
  <li>
    <p class="visually-hidden">html</p>
    <img src="/img/react.svg" alt="react" class="index_img pt-2" />
  </li>
</ul>
<style></style>
